VITE_FIREBASE_API_KEY="tua_api_key_qui"
VITE_FIREBASE_AUTH_DOMAIN="tuo_project_id.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="tuo_project_id"
VITE_FIREBASE_STORAGE_BUCKET="tuo_project_id.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="tuo_sender_id"
VITE_FIREBASE_APP_ID="tuo_app_id"
